.new-background-color{
    --background:url("../../assets/icon/black-background.png") no-repeat center center / cover;
    color:white;
}

.notification-card-header {
    background-color: black;
    color: white;
}

.notification-list-card-header {
    background-color: #cc0000;
    color: white;
}

.about-card-header {
    background-color: black;
    color: white;
    height:45px;
}