
<ion-content fullscreen>
<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1" style="color:white"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="profileDetails.loginDetails.type=='C'"> {{profileDetails.contractor.name}} </ion-title>
    <ion-title *ngIf="profileDetails.loginDetails.type=='L'"> {{profileDetails.labourer.name}} </ion-title>
    <ion-buttons slot="end">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

  <div class="card">
    <div *ngIf="profileDetails.loginDetails.type=='C'" class="header" style="align:left; background-image: url({{profileDetails.contractor.imageUrl}})">
      <div class="avatar">
        <img src="{{profileDetails.contractor.imageUrl}}" alt="Contractor image">
      </div>
    </div>
    <div *ngIf="profileDetails.loginDetails.type=='L'" class="header" style="align:left; background-image: url({{profileDetails.labourer.imageUrl}})">
      <div class="avatar">
        <img src="{{profileDetails.labourer.imageUrl}}" alt="Labourer image">
      </div>
    </div>
    <div class="card-body">
      <div class="user-meta ion-text-center">
        
        <h3 *ngIf="profileDetails.loginDetails.type=='C'" style="size:30px; font-weight: bolder;">{{profileDetails.contractor.name}}
          <ion-chip>
          {{generateTranslation("CONTRACTOR")}}
          </ion-chip>
        </h3>
        <h3 *ngIf="profileDetails.loginDetails.type=='L'" style="size:30px; font-weight: bolder;">{{profileDetails.labourer.name}}
          <ion-chip>
            {{generateTranslation("LABOURER")}}
            </ion-chip>
          <ion-chip *ngIf="profileDetails.labourer.personOrGroup=='G'">
            {{generateTranslation("Group")}}
          </ion-chip>
        </h3>
        <h4 *ngIf="profileDetails.loginDetails.type=='C'">{{profileDetails.contractor.city}}</h4>
        <h4 *ngIf="profileDetails.loginDetails.type=='L'">{{profileDetails.labourer.city}}</h4>
    </div>
  </div>
  <ion-card  [style.margin-top]="profileDetails.loginDetails.type=='L' ? '-40%' : '-45%'">
    <ion-card-header size="small" expand="block" class="about-card-header" style="padding:6px;">
      <p style="size: 20px; font-weight: bold; text-decoration: underline;"> {{generateTranslation("About")}} :</p>
    </ion-card-header>

    <ion-content style="height:{{contentheight}}; padding:left: 10px;">  
    <p *ngIf="profileDetails.loginDetails.type=='L'" style="padding-top:7px;"> <span style="color:black; font-weight: bold; padding-top:20px;" > {{generateTranslation("Field of Specialization")}} :</span> <span *ngFor="let field of profileDetails.labourer.fieldOfSpecialization.split(',')"> {{generateTranslation(field)}}, </span> </p>

      <p *ngIf="profileDetails.loginDetails.type=='C'"> <span style="color:black; font-weight: bold;">  {{generateTranslation("Rating")}} :</span> {{profileDetails.contractor.avgRating}} <ion-icon name="star"></ion-icon></p> 

      <p *ngIf="profileDetails.loginDetails.type=='L'"> <span style="color:black; font-weight: bold;">  {{generateTranslation("Rating")}} :</span> {{profileDetails.labourer.avgRating}} <ion-icon name="star"></ion-icon></p> 

      <p *ngIf="profileDetails.loginDetails.type=='C'"><span style="color:black; font-weight: bold;">  {{profileDetails.contractor.age}}</span> {{generateTranslation("years old")}}</p> 
      <p *ngIf="profileDetails.loginDetails.type=='L'"><span style="color:black; font-weight: bold;">  {{profileDetails.labourer.age}}</span> {{generateTranslation("years old")}}</p>

      <p *ngIf="profileDetails.loginDetails.type=='C'"><span style="color:black; font-weight: bold;"> {{generateTranslation("Contact Number")}} : </span>{{profileDetails.contractor.contactNo}}</p> 
      <p *ngIf="profileDetails.loginDetails.type=='L'"><span style="color:black; font-weight: bold;"> {{generateTranslation("Contact Number")}} : </span>{{profileDetails.labourer.contactNo}}</p> 

      <p *ngIf="profileDetails.loginDetails.type=='C' && profileDetails.contractor.aadhaarId!=null"><span style="color:black; font-weight: bold;"> {{generateTranslation("Aadhar ID Number")}} : </span>{{profileDetails.contractor.aadhaarId}}</p> 
      <p *ngIf="profileDetails.loginDetails.type=='L' && profileDetails.labourer.aadhaarId!=null"><span style="color:black; font-weight: bold;"> {{generateTranslation("Aadhar ID Number")}} : </span>{{profileDetails.labourer.aadhaarId}}</p> 

      <p *ngIf="profileDetails.loginDetails.type=='L' && profileDetails.labourer.personOrGroup=='G'"><span style="color:black; font-weight: bold;" > {{generateTranslation("Group Count")}} :</span> {{profileDetails.labourer.groupCount}}</p> 
      <p *ngIf="profileDetails.loginDetails.type=='L'"> <span style="color:black; font-weight: bold;" > {{generateTranslation("Number of services provided")}} : </span>{{profileDetails.labourer.noOfServicesProvided}}</p> 

      <p *ngIf="profileDetails.loginDetails.type=='C'"> <span style="color:black; font-weight: bold;" > {{generateTranslation("Number of services availed")}} : </span>{{profileDetails.contractor.noOfServicesUsed}}</p>

      <p *ngIf="profileDetails.loginDetails.type=='C'"> <span style="color:black; font-weight: bold;"> {{generateTranslation("On Shramik Bal since ")}} : </span> {{profileDetails.contractor.withUsSince}}</p>
      <p *ngIf="profileDetails.loginDetails.type=='L'"> <span style="color:black; font-weight: bold;"> {{generateTranslation("On Shramik Bal since ")}} : </span> {{profileDetails.labourer.withUsSince}}</p>
      <p *ngIf="profileDetails.loginDetails.type=='L'"><span style="color:black; font-weight: bold;" > {{generateTranslation("Experience")}} : </span> {{profileDetails.labourer.yearsOfExperience}} {{generateTranslation("years")}}</p> 

    </ion-content>
    </ion-card>
    </div>
</ion-content>


<!-- <ngx-qrcode [qrc-value]="ANCDDSJGH>DK"></ngx-qrcode> -->
