ion-content {
    --background: #a7a4a3 url("https://awazo.com/photo/2012/6559-1107C042_0001LR01.jpg") no-repeat center center / cover;
}

.error-popup {
}

.new-background-color{
    --background:url("../../../assets/icon/black-background.png");
    color:white;
}
  
