<ion-content fullscreen>
<div *ngIf="initialLoad" style="text-align: center; padding-top:4px;">
    <img src="../../../assets/icon/shramikBalLogo.png">
    <ion-list lines="out" style="padding-top:10%; background-color: transparent;">
  
      <form [formGroup]="loginForm">
          <ion-item style="border-radius: 20px;">
              <ion-label position="floating">{{getTranslation("Username")}}</ion-label>
              <ion-input formControlName="username" type="text"></ion-input>
          </ion-item>
          
          <ion-item style="border-radius: 20px; margin-top:10px;">
            <ion-label position="floating">{{getTranslation("Password")}}</ion-label>
            <ion-input formControlName="password" [type]="loginPasswordType" clearOnEdit="false"></ion-input>
            <!-- <ion-icon style="padding-left:9px;" item-end [name]="loginPasswordIcon" class="loginPasswordIcon" (click)='hideShowLoginPassword()'></ion-icon> -->
          </ion-item>
      </form>
  </ion-list>
  <ion-button color="dark" style="padding-top:25px" size="large" type="submit" expand="block"  (click)="logIn()"> {{getTranslation("Log In")}} </ion-button>
  <div style="text-align: center;">
    <ion-button color="dark" style="font-weight:bolder" (click)="redirectToRegistrationPage()"> {{getTranslation("Create an account")}}</ion-button>
    <ion-button color="dark" style="font-weight:bolder; background:transparent" (click)="changeLanguage()"> {{getTranslation("Change Language")}}</ion-button>
  </div>
  <div style="text-align: center;">
    </div>
</div>





<!-- Code for Registration Form -->

<div *ngIf="!initialLoad">
  <ion-header [translucent]="true">
    <ion-toolbar class="new-background-color">
      <ion-buttons slot="start">
        <ion-back-button (click)="backToLoginPage()" defaultHref=""></ion-back-button>
      </ion-buttons>
      <ion-title>
        {{getTranslation("Account Registration Form")}}
      </ion-title>
    </ion-toolbar>
  </ion-header>
    <form [formGroup]="registrationForm">
      <ion-list lines="full" class="ion-no-margin ion-no-padding">
        <ion-item style="border-radius: 20px;">
          <ion-label position="floating">{{getTranslation("Username")}}</ion-label>
          <ion-input formControlName="username" type="text"></ion-input>
      </ion-item>
      <ion-item style="border-radius: 20px;">
        <ion-label position="floating">{{getTranslation("Password")}}</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">{{getTranslation("Confirm Password")}}</ion-label>
        <ion-input formControlName="confirmPassword" [type]="passwordType" clearOnEdit="false"></ion-input>
        <ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
      </ion-item>
      <ion-item style="border-radius: 20px;">
        <ion-label position="floating">{{getTranslation("Name")}}</ion-label>
        <ion-input formControlName="name" type="text" (keypress)="onKeyPress($event)"></ion-input>
      </ion-item>
      <ion-item style="border-radius: 20px;">
        <ion-label position="floating">{{getTranslation("Aadhar ID Number")}}</ion-label>
        <ion-input formControlName="aadhaarId"  minlength="12" maxlength="12" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked"> <ion-icon name="help-circle" style="size:4px;"></ion-icon> {{getTranslation("Gender")}} <ion-text color="danger">*</ion-text></ion-label>
          <ion-select value="dog" style="font-size: smaller;" formControlName="gender">
          <ion-select-option *ngFor="let gender of genderList" value="{{gender.value}}">{{getTranslation(gender.key)}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">{{getTranslation("Date of Birth")}} </ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" formControlName="dateOfBirth" max="2002-06-06"></ion-datetime>
      </ion-item>
      <ion-item style="border-radius: 20px;">
        <ion-label position="floating">{{getTranslation("Contact Number")}}</ion-label>
        <ion-input formControlName="contactNo" type="number" minlength="10" maxlength="10"></ion-input>
      </ion-item>
      <ion-item style="border-radius: 20px;">
        <ion-label position="floating">{{getTranslation("Image URL")}}</ion-label>
        <ion-input formControlName="imageUrl" type="text"></ion-input>
      </ion-item>
      <ion-item style="border-radius: 20px;">
        <ion-label position="floating">{{getTranslation("Address")}}</ion-label>
        <ion-input formControlName="address" type="text"></ion-input>
      </ion-item>
      <ion-item style="border-radius: 20px;">
        <ion-label position="floating">{{getTranslation("City")}}</ion-label>
        <ion-input formControlName="city" type="text"></ion-input>
      </ion-item>
      <ion-item style="border-radius: 20px;">
        <ion-label position="floating">{{getTranslation("State")}}</ion-label>
        <ion-input formControlName="state" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">{{getTranslation("Age")}} <ion-text color="danger">*</ion-text></ion-label>
      <ion-input type="number" value="18"  formControlName="age" ></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="stacked"> <ion-icon name="help-circle" style="size:4px;"></ion-icon> {{getTranslation("Register as Contractor or Worker?")}} <ion-text color="danger">*</ion-text></ion-label>
          <ion-select value="dog" style="font-size: smaller;" formControlName="type">
          <ion-select-option *ngFor="let option of userTypes" value="{{option}}">{{getTranslation(option)}}</ion-select-option>
        </ion-select>
      </ion-item>
      <div *ngIf="registeringAsLabourer()">
        <ion-item>
        <ion-label position="stacked"> <ion-icon name="help-circle" style="size:4px;"></ion-icon> {{getTranslation("Register as individual or group?")}} <ion-text color="danger">*</ion-text></ion-label>
          <ion-select value="dog" style="font-size: smaller;" formControlName="personOrGroup">
          <ion-select-option *ngFor="let option of workerTypes" value="{{option}}">{{getTranslation(option)}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="stacked"> <ion-icon name="help-circle" style="size:4px;"></ion-icon> {{getTranslation("Specialization")}} <ion-text color="danger">*</ion-text></ion-label>
          <ion-select multiple="true" value="dog" style="font-size: smaller;" formControlName="specialization">
          <ion-select-option *ngFor="let option of specializationFields" value="{{option}}">{{getTranslation(option)}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">{{getTranslation("Experience in years")}} <ion-text color="danger">*</ion-text></ion-label>
      <ion-input type="number" value="10"  formControlName="yearsOfExperience" ></ion-input>
      </ion-item>
    </div>
      <div *ngIf="registeringAsGroup()">
        <ion-item>
          <ion-label position="stacked">{{getTranslation("Number of people in the group")}} <ion-text color="danger">*</ion-text></ion-label>
        <ion-input type="number" value="1"  formControlName="groupStrength" ></ion-input>
        </ion-item>
      </div>
      <div>
        <ion-button color="dark" style="padding-left:30%; font-weight:bolder" (click)="completeRegistration()" [disabled]="!registrationForm.valid || !checkPasswords()"> {{getTranslation("Register")}}</ion-button>
      </div>
        </ion-list>
   </form>
</div>
</ion-content>  

