.new-background-color{
    --background: url("../../../assets/icon/black-background.png");
    color:white;
    font-weight:bolder;
}
.notification-card-header {
  background-color: #cc0000;
  color: white;
}