<ion-header [translucent]="true">
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="settings"></ion-icon>
      {{generateTranslation("Settings")}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>
  <ion-item *ngFor="let option of options" button (click)="navigateToScreen(option.name)">
    <ion-icon name="{{option.icon}}" style="padding:6px;"></ion-icon>
    <ion-label  style="font-size: smaller;">{{generateTranslation(option.name)}}</ion-label>
  </ion-item>
</ion-content>