<ion-header [translucent]="true">
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1/settings"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="keypad-outline"></ion-icon>
      {{generateTranslation("Change Password")}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<form [formGroup]="changePasswordForm">
  <ion-list lines="full" class="ion-no-margin ion-no-padding">
    <ion-item style="border-radius: 20px;">
      <ion-label position="floating">{{generateTranslation("Current Password")}}</ion-label>
      <ion-input formControlName="currentPassword" type="password"></ion-input>
  </ion-item>
  <ion-item style="border-radius: 20px;">
    <ion-label position="floating">{{generateTranslation("New Password")}}</ion-label>
    <ion-input formControlName="newPassword" type="password"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">{{generateTranslation("Confirm New Password")}}</ion-label>
    <ion-input formControlName="confirmNewPassword" [type]="passwordType" clearOnEdit="false"></ion-input>
    <ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
  </ion-item>
  <div style="padding:30px;">
    <ion-button color="dark" style="padding-left:30%; font-weight:bolder" (click)="changePassword()" [disabled]="!changePasswordForm.valid && checkPasswords()"> {{generateTranslation("Change Password")}}</ion-button>
  </div>
    </ion-list>
</form>
</ion-content>